body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
    text-align: center;
    
}

/* Estilos para a navegação (menu) */
nav {
    background-color: #000000;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos específicos para o cabeçalho (header) */
header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}